:root {
    --primaria: #2B4CB8;
    --primaria-dark: #0C3197;
    --primaria-light: #2F80ED;
    --fundo: #ffffff;
    --cinza: #828282;
    font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--fundo);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/